{
  "plugins": ["add-module-exports", "transform-class-properties"],
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": "> 1%"
            }
          }
        ]
      ]
    }
  }
}
